<p>
  <strong>Commenter:</strong>
  <%= mail_to comment.user.email, comment.user.username %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <% if current_user.owner? comment %>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
<br />
