<% @articles.each do |article| %>
  <p>
    <h2><%= link_to article.title, article_path(article) %></h2>
    <p>
      <i>by <%= article.user.first_name %> <%= article.user.last_name %></i><br>
      <%= article.created_at.to_s(:short) %>
    </p>
    <p>
      <%= truncate article.text, length: 80 %>
      <%= link_to "Show full article", article_path(article) %>
    </p>
    <% if user_signed_in? %>
      <% if current_user.owner?(article) %>
          <%= link_to "Edit", edit_article_path(article) %>
          <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %><br />
      <% end %>
    <% end %>
  </p>
<% end %>
<%= paginate @articles %>


