<ul class="articles">
  <p>
    <h2><%= link_to @article.title, article_path(@article) %></h2>
    <i>by <%= @article.user.first_name %> <%= @article.user.last_name %></i> <%= @article.created_at.to_s(:short) %>
    <p>
      <%= @article.text %>
    </p>
    <% if user_signed_in? %>
      <% if current_user.owner?(@article) %>
          <%= link_to "Edit", edit_article_path(@article) %>
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %><br />
      <% end %>
      <p>
      <h2>Comments</h2>
      <%= render @article.comments %>
      Add a comment:
      <%= render "comments/form" %>
      </p>

      <%= link_to 'Back', articles_path %><br />
    <% end %>
  </li>
  </p>
</ul>
