<div id="user_nav">
  <% if user_signed_in? %>
    <p>
      Signed in as <%= current_user.email %>.<br />
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %> <br />
    </p>
    <p>
      <%= link_to "Edit your profile", edit_user_registration_path %><br />
      <%= link_to "Create new article", new_article_path %>
    </p>
  <% else %>
    <%= link_to "Register", new_user_registration_path %> or 
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
</div>
